<div class="portfolio-wrapper">
  <% @user.contacts.order(:first_name).each do |contact| %>
    
  <div class="card">
    <a href="#" class="thumb">
      <% if contact.profile_url != nil %>
        <%= image_tag("profile_pictures/" + contact.profile_url) %> 
      <% else %>
        <%= image_tag("profile_pictures/sample-bunny-3.png") %>
      <% end %>
    </a>
    <div class="card-body">
      <h2><%= contact.first_name %> <%= contact.last_name %></h2>
        <%= form_for([@user, contact], :html => {:class => 'form-inline'}, :data => {:user_id => @user.id}) do |f| %>
        <div class="contact-edit-form">
          <%= f.label "First Name:" %> 
          <%= f.text_field :first_name, :class => "form-control"%>
          <%= f.label "Last Name:" %>
          <%= f.text_field :last_name, :class => "form-control" %>
          <%= f.label "Nick Name:" %>
          <%= f.text_field :nick_name, :class => "form-control" %>
          <%= f.label "Phone Number:" %>
          <%= f.phone_field :phone_number, :class => "form-control" %>  
           
          <%= f.label "Birthday:" %>
          <%= f.date_field :birthday, :class => "form-control" %>
          <br><br>
          <%= f.submit "Update", :class => "btn btn-default" %>  
        </div>
          <%= link_to "Send it Now!", contact_sms_path(@user, contact), :class => "btn btn-purple" %>  
    </div><!-- end card-body -->
    <div class="card-footer">
      <ul class="list-inline filters">
        <li><%= f.check_box :is_active, :class => "checkbox is_active", :data => {:contact_id => contact.id}%> </li>
        <li><h4><%= contact.formatted_birthday %></h4></li>
        <li><button class="btn btn-default dropdown-toggle" data-id="contact_<%= contact.id%>" data-toggle="dropdown">Edit Record <span class="caret"></span></button></li>
        <button type="button" class="btn btn-danger btn-sm delete_contact" data-id=<%= contact.id%>>  <span class="glyphicon glyphicon-trash"></span> Delete</button>
      </ul>
    </div><!-- end card-footer -->
    <% end %>
  </div><!-- end card -->
<% end %> 
                      
</div><!-- end portfolio-wrapper -->

<!-- <div class="pagination-wrapper">             -->
</div><!-- end col -->