<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

  <div class="wrapper">
      <div class="row">
        <div class="col-md-3 sidebar">
          <div class="navbar" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rebound-navbar-collapse"><span class="fa fa-bars"></span> Menu</button>
              <a href="index.html" class="navbar-brand">Berf</a>
              <p class="brand-text">Automated Birthday Texts to All Your Contacts</p>
            </div><!-- end navbar-header -->
            <div class="collapse navbar-collapse" id="rebound-navbar-collapse">
              <ul class="nav navbar-nav">
                <li class="title">Hello, <%= @user.first_name %>! <br><br>Select all the friends you want to send a birthday message to and we'll make sure they receive a text message on their special day! </li>
               
                 
            
              </ul>
              <ul class="nav navbar-nav">
                <li class="title">Menu</li>
                <li class="active"><a href="index.html">Home</a></li>
                <li><%= link_to "Add a friend", new_user_contact_path(@user)%></li>
                 
            
              </ul>
              <form class="navbar-form" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" value="" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                  </span>
                </div><!-- end input group -->
              </form><!-- end navbar-form -->
              
              <ul class="nav navbar-nav nav-social hidden-sm hidden-xs">
                <li class="title">Social</li>
                <li><a href="#none">Twitter</a></li>
                <li><a href="#none">Facebook</a></li>
                <li><a href="#none">LinkedIn</a></li>
                <li><a href="#none">Dribbble</a></li>
              </ul>
            </div><!-- end navbar-collapse -->
          </div><!-- end navbar -->
        </div><!-- end col -->
        <div class="col-md-9 content">
          <div class="portfolio-wrapper">


            <% @user.contacts.each do |contact| %>

            <div class="card film art">
              <a href="portfolio-item.html" class="thumb">
                <%= image_tag("sloth1.jpg")%> 
                <span class="overlay"><span class="fa fa-search"></span></span>
              </a>
              <div class="card-body">
                <h2><%= contact.first_name %> <%= contact.last_name %></h2>
                  <%= form_for([@user, contact], :html => {:class => 'form-inline'}, :data => {:user_id => @user.id}) do |f| %>
                  <div class="contact-edit-form">
                    <%= f.label "First Name:" %> 
                    <%= f.text_field :first_name, :class => "form-control"%>
                      <%= f.label "Last Name:" %>
                      <%= f.text_field :last_name, :class => "form-control" %>
                      <%= f.label "Nick Name:" %>
                      <%= f.text_field :nick_name, :class => "form-control" %>
                      <%= f.label "Phone Number:" %>
                      <%= f.phone_field :phone_number, :class => "form-control" %>  
                      <br> 
                      <%= f.label "Birthday:" %>
                      <%= f.date_field :birthday, :class => "form-control" %>
                      <%= f.submit "Update Record" %>
                  </div>  
                  <%= link_to "Send Birthday Text", contact_sms_path(@user, contact), :class => "btn btn-default"  %>  

                   </div><!-- end card-body -->
              <div class="card-footer">
                <ul class="list-inline filters">
                  <!-- <label class="checkbox">
                    <span>
                    <input type="checkbox" value>
                    </span>
                    "Checkbox" -->
                  <!-- <li><label class="checkbox"> -->
                    <!-- <input type="checkbox" name="is_active" data-contact-id=<%=contact.id%> > -->
                   <!--  <span></span> -->
                   <%= f.check_box :is_active, :class => "is_active", :data => {:contact_id => contact.id}%> 

                    
                  </li>
                  <!-- <label> -->
                  <li>Birthday : <%= contact.formatted_birthday %> </li>
                  <li><button class="btn btn-default dropdown-toggle" data-id="contact_<%= contact.id%>" data-toggle="dropdown">Edit Record <span class="caret"></span></button>         <button type="button" class="btn btn-default btn-sm delete_contact">  <span class="glyphicon glyphicon-trash"></span> Delete</button>

                  
                  
                </ul>
              </div><!-- end card-footer -->
            </div><!-- end card -->
            <% end %>
             <% end %> 
           
            
          </div><!-- end portfolio-wrapper -->

          <div class="pagination-wrapper">
            <ul>
          
          </ul>

<!--             <ul class="pagination">
              <li class="disabled"><span>Prev</span></li>
              <li class="active"><a href="#none">1</a></li>
              <li><a href="#none">2</a></li>
              <li><a href="#none">3</a></li>
              <li><a href="#none">4</a></li>
              <li><a href="#none">5</a></li>
              <li><a href="#none">Next</a></li>
            </ul>
          </div><!-- end pagination-wrapper --> 


        </div><!-- end col -->
      </div><!-- end row -->
    </div><!-- end wrapper -->
    
    <footer class="hidden-xs">
      <p class="pull-left">&copy; Copyright 2014. Berf.</p>
      <!-- <p class="pull-right"><a href="#none">Rebound</a> by Pukeko Design Studio. <a href="documentation.html">Documentation</a>.</p> -->
    </footer>
    
        <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
      <script type="text/javascript">
      
      $(document).ready(function() {
        
        $('.dropdown-toggle').dropdown();
        
        var $container = $('.portfolio-wrapper');
        
        $container.imagesLoaded( function(){
          $container.isotope({
            itemSelector : '.card',
            layoutMode : 'fitRows'
          });
        });

        $('.is_active').change('checkbox :checkbox.toggle', active_birthday);
        $('.delete_contact').on('click', delete_contact);

        });


        // $("ul#todo-list").on("change", 'li :checkbox.toggle', updateTask);
        
        // Needed functions
        var getColWidth = function() {
          var width,
          windowWidth = $(window).width();
          if( windowWidth <= 480 ) {
            width = Math.floor( $container.width() );
          } else if( windowWidth <= 768 ) {
            width = Math.floor( $container.width() );
          } else {
            width = Math.floor( 250 );
          }
          return width;
        }

        function setWidths() {
          var colWidth = getColWidth();
          $container.children().css({ width: colWidth });
        }

        function active_birthday(e){
          
          var $checkbox = $(this);
          var contact_id = $checkbox.data("contact-id");
          var user_id = $(".form-inline").data('user-id');
          var checked = $checkbox.prop("checked");
          // var status = +$checkbox.find(":checkbox").prop("checked");
          
          $.ajax({
            url: "/update_flag",
            data: {user_id: user_id, contact_id: contact_id, contact: {is_active: checked}},
            dataType: "json",
            type: "PUT"
          })
          .done(function(data){
            console.log('success');
          })
          .fail(function(data){
            alert('fail');
          })

        };

         function delete_record(e){   
          console.log("does this work?");

        };



//         function updateTask(e){
//   var $li = $(this).parents("li")
//   var task_id = $li.data("id");
//   var list_id = $li.parents("ul#todo-list").data("id");
//   var status = +$li.find(":checkbox").prop("checked"); // + will cast true/false to 1/0
//   var description = $li.children("input:text").val();

//   $.ajax({
//     url: "/lists/"+list_id+"/tasks/"+ task_id,
//     dataType: "script",
//     method: "PATCH",
//     data: {task: {status: status, description: description}}
//   });    
// };

    
        $(window).smartresize(function() {
          setWidths();
          $container.isotope({
            masonry: {
              columnWidth: getColWidth()
            }
          });
        });
        
        $('.filter-portfolio li a').click(function(){
          $('.filter-portfolio li.active').removeClass('active');
          $(this).parent('li').addClass('active');
          var selector = $(this).attr('data-filter');
          $container.isotope({
            filter: selector,
            masonry: {  }
          });
          return false;
        });
        // update columnWidth on window resize
        $(window).smartresize(function(){
          $container.isotope({
            // update columnWidth to a percentage of container width
            masonry: {  }
          });
        });
        
      });
      
    </script>