<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Berf</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

     <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div class="jumbotron1">
            <h1><%= "Hello, #{@user.first_name}" %> </h1>
            <p>This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
          </div>
        <h2> Friend's List </h2>

  <% @user.contacts.each do |contact| %>
  <div class="row">

    <%= form_for([@user, contact]) do |f| %>
      <%= f.check_box :first_name %> 
      <%= f.label "First Name:" %> 
      <%= f.text_field :first_name %>
      <%= f.label "Last Name:" %>
      <%= f.text_field :last_name %>
      <%= f.label "Nick Name:" %>
      <%= f.text_field :nick_name %>
      <%= f.label "Phone Number:" %>
      <%= f.phone_field :phone_number %>   
      <%= f.label "Birthday:" %>
      <%= f.date_field :birthday %>
      <%= f.submit "Update User Record" %>
      <%= link_to "Send Birthday Text", contact_sms_path(@user, contact), :class => "btn btn-success"  %>
      <%#= link_to "Delete Contact", contact_delete(@user, contact) %>

    <% end %>
</div><!--/row-->


  <% end %>
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="#" class="list-group-item active">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
           
          </div>
        </div><!--/span-->
      </div><!--/row-->

<hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div><!--/.container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="offcanvas.js"></script>





