<!DOCTYPE html>
<html lang="en">
  <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Berf - Automated Birthday texts ">
    <meta name="author" content="Pukeko Design Studio">
    <title>Berf</title>

    <!-- Bootstrap -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
       <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/sample/logo-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/sample/logo-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/sample/logo-72.png">
    <link rel="apple-touch-icon-precomposed" href="img/sample/logo-57.png">
    <link rel="shortcut icon" href="img/sample/logo.png">

    <%= stylesheet_link_tag    'application'%>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>

  </head>
<body>
  <div class="alert alert-success">
    <% if notice %>
      <%= notice %>
    <% end %>

    <% if alert %>
        <%= alert %>
    <% end %>

    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>. Not you? 
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    
    <% if flash[:success] %>
      <%= flash[:success] %>
    <% end %>
 </div>

  <div class="wrapper">
      <div class="row">
        <div class="col-md-3 sidebar">
          <div class="navbar" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#rebound-navbar-collapse"><span class="fa fa-bars"></span> Menu</button>
              <a href="index.html" class="navbar-brand">Berf</a>
              <p class="brand-text">Automated Birthday Texts to All Your Friends and Family</p>
            </div><!-- end navbar-header -->

            <% if user_signed_in? %>
            <div class="collapse navbar-collapse" id="rebound-navbar-collapse">

              <ul class="nav navbar-nav">
                <li class="title">Hello, <%= @user.first_name %>! <br><br>Select all the friends you want to send a birthday message to and we'll make sure they receive a text message on their special day! </li>
               
                 
            
              </ul>
              <ul class="nav navbar-nav">
                <li class="title">Menu</li>
                <li class="active"><a href="index.html">Home</a></li>
                <li><%= link_to "Add a friend", new_user_contact_path(@user)%></li>
                 
            
              </ul>
              <form class="navbar-form" role="search">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search" value="" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="fa fa-search"></span></button>
                  </span>
                </div><!-- end input group -->
              </form><!-- end navbar-form -->
              
              <ul class="nav navbar-nav nav-social hidden-sm hidden-xs">
                <li class="title">Social</li>
                <li><a href="#none">Twitter</a></li>
                <li><a href="#none">Facebook</a></li>
                <li><a href="#none">LinkedIn</a></li>
                <li><a href="#none">Dribbble</a></li>
              </ul>
            </div><!-- end navbar-collapse -->
            <% end %>
            
          </div><!-- end navbar -->
        </div><!-- end col -->
        <div class="col-md-9 content">

<%= yield %>
     
       
    </div><!-- end row -->
    </div><!-- end wrapper -->
    
    <footer class="hidden-xs">
      <p class="pull-right">&copy; Copyright 2014. Berf.<br>
        Made with ♥ by <a href="https://github.com/abmcdubb"> Alisha McWilliams</a>, 
        <a href="https://github.com/bokwon"> Boyoung Kwon</a>, and 
        <a href="https://github.com/NegaMorgan"> Morgan Evans</a></p>
    </footer>
    
        <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    
    <script type="text/javascript">
      $(document).ready(function() {
        
        $('.dropdown-toggle').dropdown();
        
        $('div.contact-edit-form').hide();

        var zIndex = 2;

        $('button[data-id^="contact"]').on("click", function(){
          var node = $(this).parents(".card");
          zIndex += 1;
          node.css({"z-index": zIndex});
          node.find("div.contact-edit-form").slideToggle(function(){
            $(window).triggerHandler("resize");
          });
        });

        var $container = $('.portfolio-wrapper');
        
        $container.imagesLoaded( function(){
          $container.isotope({
            itemSelector : '.card',
            layoutMode : 'fitRows'
          });
        });

        $('.is_active').change('checkbox :checkbox.toggle', active_birthday);
        $('.delete_contact').on('click', delete_contact);


        // $("ul#todo-list").on("change", 'li :checkbox.toggle', updateTask);
        
        // Needed functions
        var getColWidth = function() {
          var width,
          windowWidth = $(window).width();
          if( windowWidth <= 480 ) {
            width = Math.floor( $container.width() );
          } else if( windowWidth <= 768 ) {
            width = Math.floor( $container.width() );
          } else {
            width = Math.floor( 250 );
          }
          return width;
        }

        function setWidths() {
          var colWidth = getColWidth();
          $container.children().css({ width: colWidth });
        }

        function active_birthday(e){
          
          var $checkbox = $(this);
          var contact_id = $checkbox.data("contact-id");
          var user_id = $(".form-inline").data('user-id');
          var checked = $checkbox.prop("checked");
          console.log(checked);
          // var status = +$checkbox.find(":checkbox").prop("checked");
          
          $.ajax({
            url: "/update_flag",
            data: {user_id: user_id, contact_id: contact_id, contact: {is_active: checked}},
            dataType: "json",
            type: "PUT"
          })
          .done(function(data){
            console.log('success');
          })
          .fail(function(data){
            alert('fail');
          })

        };

        function delete_contact(e){
          var $delete_user = $(this);
          var contact_id = $delete_user.data("id");
          var user_id = $(".form-inline").data('user-id');

          var $user_record = $delete_user.parents(".card")

          $.ajax({
            url: "/delete_flag",
            data: {contact_id: contact_id, user_id: user_id},
            dataType: "json",
            type: "PUT"
            })
          .done(function(data){
            console.log('success');
            $user_record.fadeOut(function(){
              $user_record.remove()
            });
          })
          .fail(function(data){
            alert('fail');
          })
        };

          // I need to submit a request letting the server know the task was deleted
//   // DELETE /lists/:list_id/tasks/:id
//   var $button = $(this);

//   var $task = $button.parents("ul#todo-list li");

//   $.ajax($button.data("href"), {
//     method: "DELETE",
//     success: function(response, xhr){
//       console.log(response, xhr)
//       $task.fadeOut(function(){
//         $task.remove()
//       });

//         
    
        $(window).smartresize(function() {
          setWidths();
          $container.isotope({
            masonry: {
              columnWidth: getColWidth()
            }
          });
        });
        
        $('.filter-portfolio li a').click(function(){
          $('.filter-portfolio li.active').removeClass('active');
          $(this).parent('li').addClass('active');
          var selector = $(this).attr('data-filter');
          $container.isotope({
            filter: selector,
            masonry: {  }
          });
          return false;
        });
        // update columnWidth on window resize
        $(window).smartresize(function(){
          $container.isotope({
            // update columnWidth to a percentage of container width
            masonry: {  }
          });
        });
        
      });
      </script>

</body>
</html>

